<h1>Population generation</h1>

In [121]:
#necessary imports
import numpy as np
import pandas as pd
from numpy import random

In [122]:
#możliwe generowane pola. Generacja opiera się o przecięcie tego zbioru = Ω ze zbiorem generowanym = A ⊂ Ω
populationFields = ["age", "gender", "race", "otherIllnesses", "BMI", "physicalActivity"]

from enum import Enum
class OtherIllnesses(Enum):
    hypertension = 0
    asthma = 1
    cancer = 2
    diabetes = 3
    depression = 4
    angina = 5
    myocardialInfraction = 6
    irritableBowelSyndrome = 7
    stroke = 8
    migraine = 9
#end class

In [123]:
#każda funkcja zwraca ilość == amount danych dla całej populacji
def normal(amount, spec):
    return np.random.normal(spec[0], spec[1], amount)
def choice(amount, spec):
    return np.random.choice(spec[0], amount, True, spec[1])

normal(10, [52, 12.5])

array([45.30556599, 47.96402958, 75.00658108, 78.30268751, 54.5245058 ,
       58.27926583, 66.21901822, 56.26785594, 51.63847241, 43.96459462])

In [124]:
#przykładowe generowanie populacji z niektórymi cechami

testspec = ["age", "gender", "race"]
testweights = [[56, 12.5],#age[mean, standard_deviation] - normal dist.
            [["f", "m"],[0.52, 0.48]],#gender[vals, weights] - weighted single choice
            [["white","black","rainbow"],[0.66, 0.22, 0.12]]]#race[vals, weights] - weighted single choice
#raczej przekazanie funkcji zamiast stringów
testdistrmethods = [normal, choice, choice, normal]
testdata = [testspec, testweights, testdistrmethods]

In [125]:
def populateDatabase(amount, speclist):
    #init rng for data generation
    rng = default_rng()
    #przecięcie zboiru generowanych cech i wszystkich możliwych
    columns = set(speclist[0]).intersection(populationFields)
    
    df = pd.DataFrame()
    for index,vals,method in zip(speclist[0],speclist[1],speclist[2]) :
        df[index] = method(amount, vals)
    
    return df
populateDatabase(15, testdata)

          age gender     race
0   80.510348      f    black
1   53.274185      m    white
2   32.602962      f    white
3   52.920873      f    white
4   64.870391      f    white
5   68.707785      f    white
6   56.281225      f    white
7   59.184343      f    white
8   39.285995      f  rainbow
9   63.283856      m    black
10  57.321436      f    white
11  69.689758      f    white
12  61.063704      m    white
13  47.529139      m    black
14  56.071773      f    white