<h1>Try to get Iceland's mobility data</h1>

In [3]:
import requests
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import gamma
import numpy as np

<h2>Helper methods for accessing the API</h2>

The helper methods in c3aidatalake.py convert a JSON response from the C3.ai APIs to a Pandas DataFrame.

In [4]:
import c3aidatalake as c3

<h1>Pobranie czegokolwiek</h1>
Filtrując zwróconą tabelę po wartościach w kolumnach<br>
Wynik to pandas.DataFrame

In [3]:
location =  c3.fetch(
    "outbreaklocation",{"spec": {"filter" : "name != 'NaN' && locationType == 'country' && id == 'Poland'"
        }
    }
)
location

,latestTotalPopulation,populationOfAllChildren,locationType,populationCDS,countryArea,countryCode,population2018,population2019,id,name,typeIdent,hospitalPrediction.timestamp,location.value.id,location.timestamp,fips.id
0,32738308.0,32738308.0,country,38433600,304255.0,PL,37978548,37972812,Poland,Poland,EP_LOC,2019-01-01T00:00:00,Poland,2020-08-14T00:00:00Z,PL

Lepiej używać countryCode według <a href="https://en.wikipedia.org/wiki/List_of_FIPS_country_codes">kodów krajów FIPS</a><br> To jest ustandaryzowane

In [4]:
location =  c3.fetch(
    "outbreaklocation",{"spec": {"filter" : "name != 'NaN' && locationType == 'country' && ( countryCode == 'PL' || countryCode == 'IC')"
        }
    }
)
location

,latestTotalPopulation,populationOfAllChildren,locationType,populationCDS,countryArea,countryCode,population2018,population2019,id,name,typeIdent,hospitalPrediction.timestamp,location.value.id,location.timestamp,fips.id
0,406766.0,406766.0,country,364260,100250.0,IC,353574,356991,Iceland,Iceland,EP_LOC,2019-01-01T00:00:00,Iceland,2020-08-14T00:00:00Z,IS
1,32738308.0,32738308.0,country,38433600,304255.0,PL,37978548,37972812,Poland,Poland,EP_LOC,2019-01-01T00:00:00,Poland,2020-08-14T00:00:00Z,PL

<h1>Ściągnięcie wszystkich rekordów</h1>
Zakładając domyślny limit pobieranych rekordów wg: <a href="https://c3.ai/covid-19-api-documentation/#section/Using-C3.ai-APIs/Limits">dokumentacji</a>

In [20]:
off = 0
while True: 
    respall = c3.fetch("diagnosis",
        {
            "spec" : {
                "filter": "contains(testResults, 'COVID-19')",
                "include" : "this, diagnostics.source, diagnostics.key, diagnostics.value",
                "offset" : off
            }
        }
    )
    off += 2000
    if respall.shape[0] != 2000: break
respall

,diagnostics,imageUrl,source,idPatient,age,testResults,clinicalNotes,id,location.id,temperature
0,[{'parent': {'id': 'covid-19-pneumonia-30-L.jp...,MONTREAL/images/covid-19-pneumonia-30-L.jpg,Montreal,93,55.0,COVID-19: positive,Fever and non-productive cough start from 5 da...,covid-19-pneumonia-30-L.jpg,Tehran_Iran,NaN
1,[{'parent': {'id': 'covid-19-pneumonia-30-PA.j...,MONTREAL/images/covid-19-pneumonia-30-PA.jpg,Montreal,93,55.0,COVID-19: positive,Fever and non-productive cough start from 5 da...,covid-19-pneumonia-30-PA.jpg,Tehran_Iran,NaN
2,[{'parent': {'id': 'covid-19-pneumonia-34.png'...,MONTREAL/images/covid-19-pneumonia-34.png,Montreal,165,NaN,COVID-19: positive,Patient admitted for heart failure. Developed ...,covid-19-pneumonia-34.png,Rome_Italy,NaN
3,[{'parent': {'id': 'covid-19-pneumonia-35-1.jp...,MONTREAL/images/covid-19-pneumonia-35-1.jpg,Montreal,167,75.0,COVID-19: positive,"Fever for ten days with dry cough, shortness o...",covid-19-pneumonia-35-1.jpg,Riccione_Italy,NaN
4,[{'parent': {'id': 'covid-19-pneumonia-35-2.jp...,MONTREAL/images/covid-19-pneumonia-35-2.jpg,Montreal,167,75.0,COVID-19: positive,"Fever for ten days with dry cough, shortness o...",covid-19-pneumonia-35-2.jpg,Riccione_Italy,NaN
...,...,...,...,...,...,...,...,...,...,...
153,"[{'parent': {'id': 'tpmd200203f2-b.png'}, 'key...",MONTREAL/images/tpmd200203f2-b.png,Montreal,332,56.0,COVID-19: positive,NaN,tpmd200203f2-b.png,Thailand,36.7
154,"[{'parent': {'id': 'tpmd200203f2-c.png'}, 'key...",MONTREAL/images/tpmd200203f2-c.png,Montreal,332,56.0,COVID-19: positive,NaN,tpmd200203f2-c.png,Thailand,36.8
155,[{'parent': {'id': 'yxppt-2020-02-19_00-51-27_...,MONTREAL/images/yxppt-2020-02-19_00-51-27_2872...,Montreal,187,50.0,COVID-19: positive,50-year-old man was sent to the fever clinic f...,yxppt-2020-02-19_00-51-27_287214-day10.jpg,China,NaN
156,[{'parent': {'id': 'yxppt-2020-02-19_00-51-27_...,MONTREAL/images/yxppt-2020-02-19_00-51-27_2872...,Montreal,187,50.0,COVID-19: positive,50-year-old man was sent to the fever clinic f...,yxppt-2020-02-19_00-51-27_287214-day12.jpg,China,NaN
157,[{'parent': {'id': 'yxppt-2020-02-19_00-51-27_...,MONTREAL/images/yxppt-2020-02-19_00-51-27_2872...,Montreal,187,50.0,COVID-19: positive,50-year-old man was sent to the fever clinic f...,yxppt-2020-02-19_00-51-27_287214-day8.jpg,China,39.0

In [26]:
respall = c3.fetch("diagnosis",
    {
        "spec" : {
            "filter": "contains(testResults, 'COVID-19')",
            "include" : "this, diagnostics.source, diagnostics.key, diagnostics.value",
            "limit" : "10"
        }
    }
)
respall[["age"]]

    age
0   NaN
1  55.0
2  65.0
3  65.0
4   NaN
5  30.0
6  80.0
7   NaN
8  67.0
9  67.0